<section class="empty-alert">
  <div>
    {{#if description}}
      <h1 class="empty-alert__description">
        {{description}}
      </h1>
    {{/if}}
    {{#if title}}
      <h2>
        {{title}}
      </h2>
    {{/if}}
  </div>
  <a href="/">Назад к чатам</a>
</section>
