<div class="user__main">
  <div class="params">
    <div class="params__item">
      <p class="params__title">
        Старый пароль
      </p>
      <input name="oldPassword" type="text" class="params__value">
      </input>
    </div>
    <div class="params__item">
      <p class="params__title">
        Новый пароль
      </p>
      <input name="newPassword" type="text" class="params__value">
      </input>
    </div>
  </div>
</div>