---
stylesheet: "../../styles/style.sass"
title: Регистрация
---

{{#extend "auth"}}
{{#content "header"}}
        <a href="/">cloudMessenger</a>
        <a href="#" class="auth-btn">Зарегистрироваться</a>
{{/content}}
{{#content "main"}}
        <div>
        <label for="first_name" class="auth-label">Имя</label>
        <input type="text" name="first_name" id="first_name" class="auth-input">
        </div>
        <div>
        <label for="second_name"class="auth-label">Фамилия</label>
        <input type="text" name="second_name" id="second_name" class="auth-input">
        </div>
        <div>
        <label for="login" class="auth-label">Логин</label>
        <input type="text" name="login" id="login" class="auth-input">
        </div>
        <div>
        <label for="password"class="auth-label">Пароль</label>
        <input type="text" name="password" id="password" class="auth-input">
        </div>
        <div>
        <label for="email" class="auth-label">Email</label>
        <input type="text" name="email" id="email" class="auth-input">
        </div>
        <div>
        <label for="phone"class="auth-label">Телефон</label>
        <input type="text" name="phone" id="phone" class="auth-input">
        </div>
{{/content}}
{{/extend}}