<section class="sidebar">
    <div class="messages__header">
      <div class="burger">
        {{{settings}}}
      </div>
      <input type="text" name="search" id="search" class="searchbar" placeholder="Поиск"></input>
    </div>
    {{{chats}}}
    {{{modal}}}
  </section>