// Page
.auth {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #8babd8 300px, #f5f5f5 300px);
  position: absolute;
}

// Form
.auth-form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  max-width: 40%;
  margin: 135px auto 0;
  &__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    padding: 0 55px;
    a {
      color: #fff;
    }
  }
  &__main {
    display: grid;
    gap: 20px;
    padding: 60px 55px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 10px;
  }
  &__footer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-items: center;
    text-align: center;
    gap: 10px;
    padding: 0 55px;
  }
}

// Components
.auth-text {
  color: #939393;
}
.auth-btn {
  background-color: #78e378;
  padding: 10px 40px;
  border-radius: 10px;
}
.auth-link {
  color: $darkBlue;
  font-size: 18px;
  font-weight: 600;
}
.auth-label {
  display: block;
  font-size: 18px;
  color: #7e7e7e;
}
.auth-input {
  outline: none;
  border: none;
  border-bottom: 3px solid #e0e2e5;
  width: 100%;
  line-height: 36px;
  &:focus {
    border-bottom: 3px solid $darkBlue;
  }
}
