  <div class="auth">
    <section class="auth-form">
    <div class="auth-form__header">
        {{{header}}}
    </div>
    <div class="auth-form__main">
        <h1>{{title}}</h1>
        {{{main}}}
    </div>
    <div class="auth-form__footer">
        {{{footer}}}
    </div>
</section>
  </div>