<section class="account">
  <div class="drawer">
    {{{link}}}
  </div>
  <div class="user">
    <div class="user__inner">
      <div class="user__header">
        <div class="avatar"></div>
      </div>
      <div class="user__main">
        <p class="user__name">John Smith</p>
        <div class="params">
          <div class="params__item">
            <p class="params__title">
              Почта
            </p>
            <p class="params__value">pochta@yandex.ru</p>
          </div>
          <div class="params__item">
            <p class="params__title">
              Логин
            </p>
            <p class="params__value">moloko</p>
          </div>
          <div class="params__item">
            <p class="params__title">
              Имя
            </p>
            <p class="params__value">John</p>
          </div>
          <div class="params__item">
            <p class="params__title">
              Фамилия
            </p>
            <p class="params__value">Smith</p>
          </div>
          <div class="params__item">
            <p class="params__title">
              Имя в чате
            </p>
            <p class="params__value">johnsmithsuper</p>
          </div>
          <div class="params__item">
            <p class="params__title">
              Телефон
            </p>
            <p class="params__value">+7 (999) 123-45-67</p>
          </div>
        </div>
      </div>
      <div class="user__footer">
        {{{logout}}}
      </div>
    </div>
  </div>
</section>