<section class="account">
  <div class="drawer">
    {{{link}}}
  </div>
  <div class="user">
    <div class="user__inner">
      {{{header}}}
      {{{main}}}
      {{{footer}}}
    </div>
  </div>
</section>