<div class="auth-form__main">
  <h1>{{title}}</h1>
  <p class="auth-text">
    Пожалуйста, введите данные для входа
    <br />
    или создайте свою учётную запись.
  </p>
  {{{loginInput}}}
  {{{passwordInput}}}
</div>