<div class="messages">
  <section class="sidebar">
    <div class="messages__header">
      <div class="burger"><a href="/settings">Профиль</a></div>
      <input type="text" name="search" id="search" class="searchbar" placeholder="Поиск"></input>
    </div>
    <div class="messages__list">
      <div class="message">
        <div class="avatar"></div>
        <div class="message__user">
          <div class="message__about">
            <p class="message__name">John Smith</p>
            <p class="message__text">Hello world</p>
          </div>
          <div class="message__info">
            <p class="time">12:12</p>
            <div class="message-badge">2</div>
          </div>
        </div>
      </div>
      <div class="message">
        <div class="avatar"></div>
        <div class="message__user">
          <div class="message__about">
            <p class="message__name">John Smith</p>
            <p class="message__text">Hello world</p>
          </div>
          <div class="message__info">
            <p class="time">12:12</p>
            <div class="message-badge">2</div>
          </div>
        </div>
      </div>
      <div class="message">
        <div class="avatar"></div>
        <div class="message__user">
          <div class="message__about">
            <p class="message__name">John Smith</p>
            <p class="message__text">Hello world</p>
          </div>
          <div class="message__info">
            <p class="time">12:12</p>
            <div class="message-badge">2</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dialog">
    <div class="dialog__navbar">
        <div class="dialog__profile">
            <div class="avatar"></div>
            <p class="message__name">John Smith</p>
        </div>
        <div class="dialog__settings">
            Настройки
        </div>
    </div>
    Диалоговое окно
  </section>
</div>