---
stylesheet: "../../styles/style.sass"
title: Страница не найдена
---

{{#extend "auth"}}
{{#content "main"}}
<h1 class="title">{{title}}</h1>
<a href="../index.hbs">Авторизация</a>
{{/content}}
{{/extend}}