<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="stylesheet" href={{stylesheet}} />
    <title>{{title}}</title>
  </head>
  <body class="auth">
    <section class="auth-form">
    <div class="auth-form__header">
        {{#block "header"}}{{/block}}
    </div>
    <div class="auth-form__main">
        <h1>{{title}}</h1>
        {{#block "main"}}{{/block}}
    </div>
    <div class="auth-form__footer">
        {{#block "footer"}}{{/block}}
    </div>
</section>
  </body>
</html>