<div class="user__footer">
  <ul class="settings__list">
    <li class="settings__list-item">
      {{{changeData}}}
    </li>
    <li class="settings__list-item">
      {{{changePassword}}}
    </li>
    <li class="settings__list-item">
      {{{logout}}}
    </li>
  </ul>
</div>